numpy 
pandas
python-dotenv
mysql-connector-python
pymysql
scikit-learn
seaborn
catboost
xgboost
flask
svm
typing
datetime
dataclasses
#-e .  # Uncomment this if yopu want to setup the file CREDIT_RISK.egg-info